<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<style></style>

<body>
  <div class="container">
    <div class="dados-pessoais">
      <h1>Cadastro de Aluno</h1>
      <div class="inputControl">
        <label for="txtNome"> Nome </label>
        <input type="text" id="txtNome" name="txtNome">
      </div>
      <div class="inputControl">
        <label for="birthDate"> Data de nascimento </label>
        <input type="date" id="birthDate" name="birthDate">
      </div>
      <div class="inputControl">
        <label for="email"> E-mail </label>
        <input type="email" id="email" name="email">
      </div>
      <div class="inputControl">
        <label for="txtEndereco"> Endereço </label>
        <input type="text" id="txtEndereco" name="txtEndereco">
      </div>
      <div class="inputControl">
        <label for="telefone"> Celular </label>
        <input type="tel" id="telefone" name="telefone">
      </div>
    </div>
    <div class="dados-academia">
      <div class="inputControl">
        <label for="txtMatricula"> Matrícula </label>
        <input type="text" id="txtMatricula" name="txtMatricula">
      </div>
      <div class="inputControl">
        <label for="txtDiasTreino"> Dias de treino na semana </label>
        <input type="text" id="txtDiasTreino" name="txtDiasTreino">
      </div>
    </div>

    <div class="button">
      <button class="btn" id="btnCadastrar" type="submit">Cadastrar</button>
    </div>

  </div>

  <p></p>
</body>

</html>
