<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
</head>

<form action="/pagina-processa-dados-do-form" method="post">
<body>
  <div class="linha">
    <div class="coluna-50">
      <section class="login">
        <div class="pagina-inicial-login">
          <div class="secundario">
            <h1 class="pagina-inicial-fateFit">FateFit</h1>
            <div>
              <label for="login">LOGIN</label>
              <input type="text" id="login">
            </div>
            <div>
              <label for="senha">SENHA</label>
              <input type="password" id="senha">
            </div>
            <div class="button">
              <button class="btn" id="btnLogin" type="submit">Entrar</button>
            </div>
            <h2 class="esqueci-minha-senha">ESQUECI MINHA SENHA</h2>
          </div>
        </div>
      </section>
    </div>
    <div class="coluna-50">
      <section class="banner">
        <div class="principal">
        <img src="assets/imagens/imagem-login.jpg">
        </div>
      </section>
    </div>
  </div>

</body>

</form>
</html>
