<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
    <link rel="stylesheet" type="text/css" href="manage-user.component.scss">
</head>

<body>
    <div class="container">
        <h1>
            CONSULTAR ALUNO
        </h1>
        <input list="matricula" name="matricula" id="matricula" placeholder="Insira os dados do aluno">

        <div class="btnControl">
            <button class="btnConsulta" id="btnConsulta"> CONSULTAR </button>
            <button class="btnConsulta" id="btnAltera"> ALTERAR  </button>
            <button class="btnConsulta" id="btnExclui"> EXCLUIR </button>
        </div>
    </div>
</body>

</html>