<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
</head>
<style></style>

<body>
  <h1>Cadastro</h1>
  <div class=linha></div>
  <section>
    <div>
      <div class="linha">
        <div class="coluna-50">
          <p><strong><label for="txtNome"> Nome </label>
              <input type="text" id="txtNome" name="txtNome">
            </strong></p>
          <p><strong><label for="birthDate"> Data de nascimento </label>
              <input type="date" id="birthDate" name="birthDate">
            </strong></p>
          <p><strong><label for="email"> E-mail </label>
              <input type="email" id="email" name="email">
            </strong></p>
          <p><strong><label for="txtEndereco"> Endereço </label>
              <input type="text" id="txtEndereco" name="txtEndereco">
            </strong></p>
          <p><strong><label for="telefone"> Celular </label>
              <input type="tel" id="telefone" name="telefone">
            </strong></p>
        </div>
        <div class="coluna-50">
          <p><strong><label for="txtMatricula"> Matrícula </label>
              <input type="text" id="txtMatricula" name="txtMatricula">
            </strong></p>
          <p><strong><label for="txtDiasTreino"> Dias de treino na semana </label>
              <input type="text" id="txtDiasTreino" name="txtDiasTreino">
            </strong></p>
        </div>
      </div>
    </div>
  </section>
  <div class="button">
    <button class="btn" id="btnCadastrar" type="submit">Cadastrar</button>
  </div>
  <div class=linha></div>
  <p></p>
</body>

</html>
