<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<style></style>

<body>
  <div class="container">
    <div class="consultar-aluno">
      <h1>Consultar Aluno</h1>
      <div class="input">
        <label for="txtMatricula"> Matrícula </label>
        <input type="text" id="txtMatricula" placeholder="Insira a matrícula do aluno">
      </div>
    </div>

    <div class="inputControl">
      <button type="submit" id="btnConsultar"> Consultar </button>
      <button type="submit" id="btnAlterar"> Alterar </button>
      <button type="submit" id="btnExcluir"> Excluir </button>
    </div>

  </div>
</body>
