<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="admin.component.scss">
</head>
<div class="container">
    <h1>ADMIN</h1>

    <div class="buttonControll">
        <a routerLink="/user-read" routerLinkActive="active"><button id="buttonConsultaAluno" class="buttonAdmin"> CONSULTAR ALUNO </button></a>
        <a routerLink="/user-register" routerLinkActive="active"><button id="buttonCadastraAluno" class="buttonAdmin"> CADASTRAR ALUNO </button></a>
        <a routerLink="/workout-register" routerLinkActive="active"><button id="buttonCadastraTreino" class="buttonAdmin"> CADASTRAR TREINO </button></a>
    </div>
</div>

<body>

</body>

</html>